
body{
    display: grid;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    grid-template-rows: auto 1fr auto; /* header main footer*/
}

/* Header */
header {
    background-color: whitesmoke;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
}

/* Nav*/
nav.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 1rem;
    background-color: crimson;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover{
    color: lightcoral;
}

/* main */
.section-main { 
    background-color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    display: grid; 
    grid-template-columns: 1fr 1fr; /* 2 columnas */ 
    grid-template-rows: auto auto; /* 2 filas */ 
    padding: 20px;
    gap: 10px;
}

.section-main article {
    background: whitesmoke;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 10px;
}

.section-main article:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);  
}

.section-main h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: red;
}

.section-main p{
    text-wrap: unset;
    text-align: justify;
}

.section-main article ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-main article li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
}

.section-main article li::before {
    content: "";
    width: 8px;
    height: 8px;
    background: #ff6b6b; /* color suave y moderno */
    border-radius: 50%;
}

/* footer */
footer {
    background-color: crimson;
    height: 20px;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}