
body{
    display: grid;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    grid-template-rows: auto 1fr auto; /* header main footer*/
}

/* Header */
header {
    background-color: whitesmoke;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
}

/* Nav*/
nav.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 1rem;
    background-color: crimson;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover{
    color: lightcoral;
}

/* main */
.section-main { 
    background-color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    display: grid; 
    grid-template-columns: 1fr 1fr; /* 2 columnas */ 
    grid-template-rows: auto auto; /* 2 filas */ 
    padding: 20px;
    gap: 10px;
}

.section-main a{
    text-decoration: none;
    display: block;             /* como si se seleccionara toda la cjaa */
    color: inherit;             /* mantener el estilo del texto y que no sea pisado por los anclajes */
}

.section-main article {
    background: whitesmoke;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 10px;
}

.section-main article:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);  
}

main h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    color: red;
}

.section-main p{
    text-wrap: unset;
    text-align: justify;
}

.section-main article ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-main article li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
}

.section-main article li::before {
    content: "";
    width: 8px;
    height: 8px;
    background: #ff6b6b;
    border-radius: 50%;
}

/* Estilos para el contenido de los listados de cursos */
.listado-cursos {
    display: grid;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));  /* Solucion responsive para las columnas se redistribuyan en menos de 3 según sea necesario*/
    gap: 20px;
    padding: 20px;
}

.listado-cursos article{
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.listado-cursos article:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);  
}

.listado-cursos article img {
    width: auto;
    max-width: 200px;
    height: auto;
    object-fit: cover;
}

.listado-cursos article h3 {
    font-size: large;
    color: red;
    margin: 2;
}

.listado-cursos a {
    text-decoration: none;   /* no pone subrayyado sobre el h3 o el texto */
    display: block;          /* como si se seleccionara toda la cjaa */
}

.curso a:hover {
    opacity: 0.9;            /* efecto al pasar el ratón */
}


/* footer */
footer {
    background-color: crimson;
    height: 20px;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}