
body{
    display: grid;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    grid-template-rows: auto 1fr auto; /* header main footer*/
}

/* Header */
header {
    background-color: rgb(248, 244, 244);
    width: 100%;
}

.banner img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
}

/* Nav*/
nav.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 2rem;
    background-color: grey;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover{
    color: red;
}

/* main */
main {
    background: lightyellow;
}

.section-main { 
    display: grid; 
    grid-template-columns: 1fr 1fr; /* 2 columnas */ 
    grid-template-rows: auto auto; /* 2 filas */ 
    padding: 20px; 
}

/* footer */
footer {
    background: lightcoral;
    }